* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    padding: 40px 20px;
    background: #E5E5FD;
}

img {
    width: 100%;
    border-radius: 100%;
}

.para-font {
    font-size: 12px;
    line-height: 22px;
    font-weight: 700;
    letter-spacing: 6%;
}

.container {
    border: 10px solid black;
    height: 100%;
    max-width: 1080px;
}

.name-heading {
    font-size: 48px;
}

.year {
    font-size: 24px;
    font-weight: 500;
}

.heading-section {
    text-align: end;
}


.missile-heading {
    font-size: 46px;
    font-weight: 500;
}

.biographies-heading {
    font-size: 14px;
    font-weight: 500;
    /* padding: 0px 500px; */
}